body {
  font-family: "Poppins", sans-serif;
  background-color: #181525;
}

.container {
  max-width: 1400px;
  margin: 10px auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/src/images/santa-maria-del-cami-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px;
  color: white;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 5px;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h1 {
  font-size: 85px;
  font-weight: 700;
  margin: 30px 0;
  line-height: 1;
}

header button {
  font-size: 14px;
  font-weight: 700;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  background: white;
  border: none;
}

header button a {
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #272044;
}

main .section-1 {
  padding: 100px;
  background-color: #fff;
}

main .section-2 {
  padding: 100px;
  background-color: #f8f8f8;
}

section h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

section h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #272044;
  margin: 0;
}

section h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #272044;
  margin: 0;
}

section h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #272044;
  margin: 0;
}

section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}

section .button {
  display: block;
  color: white;
  background-color: #462cb2;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/src/images/santa-maria-footer.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  color: white;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-middle-large {
  grid-template-columns: 1fr 2fr 1fr;
}
.img-responsive {
  width: 100%;
  display: block;
}
.img-center-vertical {
  object-position: 50% 50%;
}

.text-center {
  text-align: center;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 30px;
}
.card-footer {
  margin: 0 30px 30px;
}
.margin-top-30px {
  margin-top: 30px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 26px;
  }
  header h3 {
    font-size: 12px;
  }
  main .section-1 {
    padding: 30px;
    text-align: center;
  }
  main .section-1 h3 {
    font-size: 26px;
    line-height: 30px;
    margin: 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 1250px) {
  .grid-instagram-embed {
    grid-template-columns: 1fr;
  }
}
